* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    line-height: 1.22em;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* IE 10+ */
}

::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

/*Typographie*/
h1 {
    margin: 0;
    padding: 2rem;
    text-align: center;
}

h1::after {
    content: "Indice de Masse Corporelle";
    display: inline;
    font-size: 1.2rem;
    color: rgb(211, 35, 35);
    font-weight: 700;
    position: relative;
    top: 1rem;
    right: 4.6rem;

}

h2 {
    text-align: center;
}


/*Layout*/
.container-app {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

header,
footer {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin-bottom: 1em;
    background-position: top;
}

footer {
    padding: 2rem;
    margin-top: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.definition {
    width: 100%;
    margin-bottom: 2rem;
}

.poids1,
.taille1 {}


input,
#info,
span::after {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    border: 1px solid rgba(34, 36, 38, .15);
    outline: 0;
    font-size: 1rem;
    padding: .67em 1em;
    border-right-color: rgba(34, 36, 38, 0.15);
    color: rgba(0, 0, 0, .87);
    border-radius: 0.25rem;
}

#unite-kg::after,
#unite-cm::after {
    background-color: rgba(34, 36, 38, .15);
    border-left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 0;
}

#unite-kg::after {
    content: "kg";
}

#unite-cm::after {
    content: "cm";
}


input:hover,
input:focus {
    border: 1px solid black;
}


#info {
    display: flex;
    min-height: 4rem;
    font-weight: 700;
}


.styleErreur,
#msg-erreur {
    color: orangered;
}

/* Tableau resultat */
.interpretation-imc {
    margin: 0;
    border: 1px solid rgba(34, 36, 38, 0.25);
}

td {
    padding: .67em 0.4em;
    margin: 0;
    border-bottom: 1px solid rgba(34, 36, 38, 0.25);
}

tr:nth-child(odd) {
    background: rgba(34, 36, 38, 0.08);
}

tr:first-child {
    background: rgba(255, 165, 0, 0.7);
    font-weight: 700;
}

.td1 {
    min-width: 8rem;
    padding: 0.67em 1em;
}

.td2 {
    min-width: 13.5rem;

}

.surbrillance {
    font-weight: 700;
    color: purple;
}

h2,
caption {
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    text-align: center;

}

a {
    color: rgb(180, 109, 2);
}

a:hover,
a:focus {
    color: rgb(211, 35, 35);
}

@media(min-width:730px) {
    main {
        display: flex;
        flex-direction: column;
        max-width: 730px;
    }


    .content2 {
        display: flex;
        flex-direction: row;
    }

    .form {
        width: 350px;
        margin-right: 2rem;
    }
}

/* error */
.errorP,
.errorT {
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1rem;
    color: #555;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 0.7rem;
    padding: 0.5rem;
    background: #ffecec;
    border: 1px solid #f5aca6;
    border-radius: 0.25rem;
    border-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

label {
    padding-bottom: 0.5rem;
}

#lbl-poids,
#lbl-taille {
    display: inline-block;
    padding-bottom: 0rem;
}